body {
    margin: 0px
}
.lightbox-title {
    width: 90%;
    text-align: left;
    color: rgba(144, 28, 28, 1) 
}

.box {
    padding: 16px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 16px;
}

.box img {
    display: block;
    width: 100%;
}

.box video {
    display: block;
    width: 100%;
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    z-index : 10;
    overflow: auto;
    animation: lightboxIn .5s;
    transition: opacity .3s
}
.lightbox.fadeOut {
    opacity: 0
}

.lightbox-next, .lightbox-prev {
    border: none; 
    background: url(../images/svg/arrow.svg) center center / 16px 28px no-repeat; 
    width: 16x;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    margin: 14px;
    z-index: 11;
}

.lightbox-prev {
    right: 50px;
    left: 0;
    transform: rotate(180deg)
}

.lightbox-close {
    width: 30px;
    height: 30px;
    border: none;
    background: url(../images/svg/close.svg) center center / 100% 100% no-repeat transparent;
    position: fixed;  
    top: 20px;
    right: 20px;
    z-index: 12;
}

.lightbox button {
    opacity: .5;
    cursor: pointer;
    transition: opacity .3s;
    text-indent: -3000px;
}

.lightbox button:hover {
    opacity: 1;
}
.lightbox button:focus {
    opacity: 1;
}

.lightbox__container img {
    width: 90%;
    height: 80vh;
    animation: lightboxIn .5s;
}

.lightbox__container video {
    width: 90%;
    height: 80vh;
    animation: lightboxIn .5s;
    object-fit: cover;
}

.lightbox__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    min-height: 100vh;
}

.lightbox__loader {
    width: 38px;
    height: 38px;
    opacity: .5;
    background: url(../images/svg/loader.svg) center center no-repeat ;
}

@keyframes lightboxIn {
    from {opacity: 0;}
    to   {opacity: 1;}
}