* {
    font-family: 'DM Sans', sans-serif; 
    box-sizing: border-box;
}
header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
}

p, p.description {
    line-height: 1.6;
    font-size: 1em
}

body {
    scroll-behavior: smooth;
}
.button-content {
    display: none; 
}

button.scroll {
    display: block;
    position: fixed;
    top: 20px;
    width: 14%;
    left: 43%;
}

button.scroll:hover {
    cursor: pointer;
}

.logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position:absolute;
    left: 10px;
    height: 50px;
    width: 240px;
    margin-top: 30px;
    margin-bottom: 50px;
    background: url(../images/svg/logo.svg) center center no-repeat ;
    
}

.nav-tag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;  
    -ms-flex-pack: distribute;  
        justify-content: space-around;
}

.tag-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position:relative;
    right: 300px;
    top: 5px;
    margin-top: 40px;
    margin-right: 2%;
    margin-left: 2%;
}
 @media all and (max-device-width:1230px) {
     .tag-list {
        position: relative;
        top: 55px;
        right: 150px;
        flex-flow: wrap;
        justify-content: space-between;
        justify-content: center;
        width: 60%
     }
 }

.tag {
    text-decoration: none;
    height: 22px;
    margin-left: 3px;
    padding: 3px;
    padding-bottom: 25px;
    left: 505px;
    top: 58px;
    background: white;
    border: 0.5px solid #c4c4c4;
    border-radius: 11px;
    color: #901C1C;
    font-weight: bold;
}
.tag:hover{
    cursor: pointer;
}

.tag.active{
    -webkit-box-shadow: 1px 1px 10px #901C1C inset, 0 1px 0 #901C1C;
            box-shadow: 1px 1px 10px #901C1C inset, 0 1px 0 #901C1C;  
    }
.box_title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 310px;;
}
h1 {
    color: #901C1C;
    font-size: 2.5em;
    position: absolute;
    right: 1%
    
}

/******** Carte des photographes ********/

#photographes {
    padding-top: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -ms-flex-wrap: wrap; 
        flex-wrap: wrap; 
    -webkit-box-pack: center; 
        -ms-flex-pack: center; 
            justify-content: center;
    margin: auto;
}

.card {
    width: 400px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 20px;
}

a.header-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; 
    text-decoration: none;    
    width: 400px;
    background-color: white;
    border: 0px;
    margin-bottom: 0;
    padding-bottom: 0
}

.header-card:hover {
    cursor: pointer;
}

.avatar {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.photo-profil {
    border-radius: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 2.7em;
    width: 100%;
    font-weight: normal;
    color:  rgba(211, 87, 60, 1);
    margin-bottom: 0;
    padding-bottom: 0
}

.main-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column ;
            flex-direction: column ;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
            margin-top: 0;
            padding-top: 0
            
}

h3 {
    text-align: center;
    color:rgba(144, 28, 28, 1);
    font-weight: normal;  
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0
}

.description {
    text-align: center;
    font-size: 10px;
    color: rgba(0, 0, 0, 1);
    font-weight: normal;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0
}

.price {
    text-align: center;
    color: rgba(117, 117, 117, 1);
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0
}

.footer-tag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 400px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding:0
}

a.footer-tag-item { 
    text-decoration: none;
    height: 22px;
    background: white;
    border: 0.5px solid #c4c4c4;
    border-radius: 11px;
    color: #901C1C;
    font-weight: bold;
    padding: 2px;
    margin-right: 5px;
}

svg {
   fill: #901C1C;
   font-weight: bold;
   position: relative;
   right: 10px;
   top: 5px
}

.button-content, .modal-btn {
    font-size: 1.1em;
    font-weight: bold;
    height: 50px;
    width: 250px;
    border: 0px;
    border-radius: 8px;
    background-color: #Db8876;
}

img {
    height: 200px;
    width: 200px;
}

@media all and (max-device-width:768px) 

{
    body {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    #photographes {
        overflow: hidden;
        padding-top: 0
    }
   nav.nav-tag {
       display: -webkit-box;
       display: -ms-flexbox;
       display: flex;
   }
    div.tag-list 
    {
      display: none;
      width: 100%;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
  }
  a.tag {
      display: block
  }
  div.box-logo {   
      width: 48%;
      margin: 0
  }
  div.box_title {
      width: 48%
  }
  .footer-tag-item {
      font-size: 0.8em;
  }
  a.logo {
    margin-top: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 30px;
    width: 120px;
    background: url(../images/svg/logo-responsive.svg) center center no-repeat ;
}
 h1.title {
     font-size: 0.9em;
     margin-right: 10px;
 }
 h2 {
     font-size: 1.2em;
     font-weight: bold
    }
 .button-content {
    font-size: 1.1em;
    font-weight: bold;
    height: 150px;
    width: 300px;
    border: 0px;
    border-radius: 8px;
    background-color: #Db8876;
}
}
