header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-button {
    width: 100%;
    display: flex;
    justify-content:center
}

nav {
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

ul {
    display: flex;
}

li {
    list-style: none;
    height: 22px;
    margin-left: 5px;
    padding: 3px;
    left: 505px;
    top: 58px;
    border: 0.5px solid #c4c4c4;
    border-radius: 11px;
    color: #901C1C;
    font-weight: bold;
}

h1 {
    color: #901C1C;
    position: relative;
    left: 80px;
    bottom: 25px;
    font-size: 2.5em;
}

/******** Carte des photographes ********/

#photographes {
    padding-top: 80px;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
    margin: auto;
}

.card {
    width: 400px;
    justify-content: center;
    margin: 20px;
}

.header-card {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-decoration: none; 
}

.avatar {
    width: 100%;
    display: flex;
    justify-content: center;
}

.photo-profil {
    border-radius: 50%
}

h2 {
    display: flex;
    justify-content: center;
    font-size: 2.7em;
    width: 100%;
    color:  rgba(211, 87, 60, 1);
}

.main-card {
    display: flex;
    flex-direction: column ;
    justify-content: center;
}

h3 {
    text-align: center;
    color: #901c1c;
}

.description {
    text-align: center;
    font-size: 10px;
    color: rgba(0, 0, 0, 1);
}

.price {
    text-align: center;
    color: rgba(117, 117, 117, 1);
}

ul.footer-tag {
    display: flex;
    width: 80%;
    margin: 10%;
    justify-content: justify;
}

svg {
   fill: #901C1C;
   font-weight: bold;
   position: relative;
   right: 10px;
   top: 5px
}

button {
    font-size: 1.1em;
    font-weight: bold;
    height: 30px;
    width: 200px;
    border: 0px;
    border-radius: 8px;
    background-color: #Db8876;
}

img {
    height: 200px;
    width: 200px;
}