header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box-button {
    width: 100%;
    display: none;
    justify-content: center
}

.logo {
    display: flex;
    height: 50px;
    width: 240px;
    margin-bottom: 30px;
    background: url(../images/svg/logo.svg) center center no-repeat ;
}

.nav-tag {
    display: flex;
    width: 100%;  
    justify-content: space-around;
}

.tag-list {
    display: flex;
    margin-top: 40px;
    margin-right: 2%;
    margin-left: 2%;
    width: 45%
}

.tag {
    text-decoration: none;
    height: 22px;
    margin-left: 3px;
    padding: 3px;
    left: 505px;
    top: 58px;
    background: white;
    border: 0.5px solid #c4c4c4;
    border-radius: 11px;
    color: #901C1C;
    font-weight: bold;
}
.tag:hover{
    cursor: pointer;
}

.tag.active{
    box-shadow: 1px 1px 10px #901C1C inset, 0 1px 0 #901C1C;  
    }
.box_title {
    display: flex;
    width: 310px;;
}
h1 {
    color: #901C1C;
    font-size: 2.5em;
    
}

/******** Carte des photographes ********/

#photographes {
    padding-top: 80px;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center;
    margin: auto;
}

.card {
    width: 400px;
    justify-content: center;
    margin: 20px;
}

.header-card {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-decoration: none;    
    width: 400px;
    background-color: white;
    border: 0px
}

.header-card:hover {
    cursor: pointer;
}

.avatar {
    width: 100%;
    display: flex;
    justify-content: center;
}

.photo-profil {
    border-radius: 100%;
    object-fit: cover;
}

h2 {
    display: flex;
    justify-content: center;
    font-size: 2.7em;
    width: 100%;
    color:  rgba(211, 87, 60, 1);
}

.main-card {
    display: flex;
    flex-direction: column ;
    justify-content: center;
}

h3 {
    text-align: center;
    color: #901c1c;
}

.description {
    text-align: center;
    font-size: 10px;
    color: rgba(0, 0, 0, 1);
}

.price {
    text-align: center;
    color: rgba(117, 117, 117, 1);
}

.footer-tag {
    display: flex;
    width: 400px;
    justify-content: center;
    padding:0
}

a.footer-tag-item { 
    text-decoration: none;
    height: 22px;
    background: white;
    border: 0.5px solid #c4c4c4;
    border-radius: 11px;
    color: #901C1C;
    font-weight: bold;
    padding: 2px;
    margin-right: 5px;
}

svg {
   fill: #901C1C;
   font-weight: bold;
   position: relative;
   right: 10px;
   top: 5px
}

.button-content, .modal-btn {
    font-size: 1.1em;
    font-weight: bold;
    height: 30px;
    width: 200px;
    border: 0px;
    border-radius: 8px;
    background-color: #Db8876;
}

img {
    height: 200px;
    width: 200px;
}

