/***** Bannière *****/
* {
    font-family: 'DM Sans', sans-serif; 
}

body {
    padding: 5%;
    box-sizing: content-box;
}
main {
    margin: 0;
    padding: 0
}
.logo {
    display: block;
    height: 50px;
    width: 200px;
    margin-bottom: 30px;
    background: url(../images/svg/logo.svg) left center no-repeat ; 
}
.logo:hover {
    cursor: pointer;
}
#banner {
    width: 100%;
    margin-bottom: 30px;
}
.listbox, #banner {
    margin-left: 5%
}
.banner-photographer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;  
    background: rgba(250, 250, 250, 1);
}

    /*** Bloc Infos ***/
p{
    margin: 4 0 0 0px;
    padding: 0
}
.description-photographer {
    width: 50%; 
    line-height: 1.6; 
}

h2 {
    font-size: 2.5em;
    color:  rgba(211, 87, 60, 1);
    margin: 0;
    padding: 0
}

h3 {
    color: #901c1c;
    margin: 0;
    padding: 0;
}

.footer-tag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 400px; 
    padding: 0
}

a.footer-tag-item { 
    text-decoration: none;
    list-style: none;
    height: 25px;
    background: white;
    border: 0.5px solid #c4c4c4;
    border-radius: 11px;
    color: #901C1C;
    font-weight: bold;
    padding: 0px 2px 25px 2px ;
    margin-right: 5px;
}

    /*** Bloc Bouton ***/

.box-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 20%;
}
.modal-btn {
    height: 34px;
    width: 170px;
    background-color: #901C1C;
    color: white;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 40px;
    padding-top: 10px;
    border-radius: 5px
}

.modal-btn:focus, .modal-btn:hover     {
    cursor: pointer;
    color: black;
    background: #DB8876;     
}
    /*** Bloc Image***/

.single-avatar {
    width: 30%;
}

.photo-profil {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    top: 37px;
    right: 25px;
    margin-left: auto;
    border-radius: 100%;
    height: 150px;
    width: 150px;
    -o-object-fit: cover;
       object-fit: cover;
}

 .container {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;  
    padding: 0px; 
}
#liste_media {
    padding: 0;
    margin: 0;
}
.media-card {
    width: 355px;
    height: 355px;
    margin-top: 2.5%;
    margin-left: 10px;
    margin-right: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;   
}

.btn-card {
    cursor: pointer;
}

.media-single-photographer {
    -o-object-fit: cover;
       object-fit: cover;
    width: 350px;
    height: 300px;
    border-radius: 5px;
}
    /***** Pied de page de chaque carte *****/

.details_images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color:  rgba(144, 28, 28, 1);
    font-weight: bold;   
}

.titre-media {
    width: 87%;
    line-height: 1.6;
}

 .btn-like {
    background-color: white; 
    height: 20px;
    border: 0px;
    width: 20px;
    position: relative;
    right: 2px;
    top: 15px;
}

.nombre {
    width: 8%;
    height: 18px;
    position: relative;
    top: 15px;    
}

.btn-like:hover {
    cursor: pointer;
}

span {   
    fill: red;
}

/***** Etiquette *****/

.sticker {
    z-index: 10;
    width: 376px;
    height: 59px;
    border-radius: 5px;
    position: fixed;
    bottom: -10px;
    right: 10px;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 20px;
    padding-left: 30px;
    background-color: rgba(219, 136, 118, 1);    
}

.total-likes {
    position: relative;
    margin-right: 150px
}

/***** Modal *****/

.modal {
    position: absolute;
    display: none;
    top: 10%;
    left: 25%;
    width: 50%;
    height: 100%;
    background: rgba(219, 136, 118, 1);    
}
a.modal-btn {
    padding-bottom: 35px
}
.close-modal-btn {
    width: 40px;
    height: 40px;
    border: none;
    background: url(../images/svg/close-modal.svg) center center / 100% 100% no-repeat transparent;
    position: absolute;  
    top: 20px;
    right: 16px;
    z-index: 12;
}

.modal-header {
    color: black;
    font-size: 2.2rem;
    padding: 2% 2% 0% 5%;
}

.modal-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    margin: 5%;
}

label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 1.4rem;
    padding: 4px;
}

input , textarea {
    height: 40px;
    border-radius: 4px;
    margin-top: 4px;
    border: none
}

textarea {
    height: 120px;
}

.submit-btn {
    color: white;
    background: rgba(144, 28, 28, 1);
    border-radius: 5px;
    width: 170px;
    height: 69px;
    margin-top: 20px;
}

.formData[data-error]::after {
    content: attr(data-error);
    font-size: 0.6em;
    font-weight: bold;
    color: #bb0013;
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: right;
    line-height: 0.3;
    opacity: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
 
  .formData[data-error-visible="true"]::after {
    opacity: 1;
  }
  
  /***** Liste déroulante *****/

  .custom-select {
      color: white;
      width: 150px;
      margin-left: 10px;
      border-radius: 4px;
  }

  .custom-select select{
    display: none;  
}

.new-select {
    background: rgba(144, 28, 28, 1);
    position: relative;
    padding: 7px;
    border-radius: 4px;
    text-decoration: none;
}

.new-select.active {
    border-radius: 4px 4px 0px 0px ;
    text-decoration: none;
}

.new-select::after {
    content: "";
    position: absolute;
    right: 5px;
    border: 6px solid;
    border-color: #fff transparent transparent transparent;
    top: 14px;
    height: 0;
    text-decoration: none;
    
}
.new-select.active::after{
    top: 7px;
    border-color:  transparent transparent #fff transparent; 
    border-radius: 0
}
.select-items div {
    background: rgba(144, 28, 28, 1);
    padding: 7px;
  
    cursor: pointer;   
}
.selection1, .selection2, .selection3 {
    border-top: 1px solid white;
}
.selection3 {
    border-radius: 0 0 4px 4px;
}
.select-hide {
    display: none
}
.label-custom {
    font-size: 1em;
    color: black;
    font-weight: bold;
}

.listbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
}

@media screen and (max-device-width:768px) {
    body {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    h2 {
        font-size: 1.5em;
        margin-top: 40px;
    }  
    #banner {
        overflow: hidden;
        width: 100%;
        margin: 0px;
        padding-left: 5%;
        padding-right: 5%
    }
    section.banner-photographer {
        margin: 0px;
        padding: 0px;
    }
    header {
        margin-bottom: 30px;
    }
    .logo {

        margin: 20px 0 0 20px 
    }
    a.modal-btn {
        position: fixed;
        bottom: 30px
    }
    .sticker {
        display: none
    }
    main {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 100%;
        overflow: hidden;
    }
    div.modal {
        width: 100%;
        height: 100%; 
        position: fixed; 
        top: 0px;
        left: 0px;
        z-index: 10000   
    }
    .modal-btn {
        position: fixed;
        bottom: 120px;
        width: 60%;
        left: 20%;
    }
    .media-single-photographer {
        -o-object-fit: cover;
           object-fit: cover;
        width: 100%;
        height: 250px;
        border-radius: 5px;
    }
    .media-card {
        width: 100%;
        height: 350px;
        margin-top: 2.5%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .photo-profil {
        display: -webkit-box;
        display: -ms-flexbox;
        display: block;
        display: flex;
        position: relative;
        top: 37px;
        right: 25px;
        margin-left: auto;
        border-radius: 100%;
        height: 70px;
        width: 70px;
        -o-object-fit: cover;
           object-fit: cover;
    }
         
    .sticker {
        z-index: 10;
        width: 100%;
        height: 59px;
        border-radius: 5px;
        position: fixed;
        bottom: -10px;
        left: 0px;
        font-weight: bold;
        font-size: 1.5em;
        padding-top: 20px;
        padding-left: 30px;
        background-color: rgba(219, 136, 118, 1);
    } 
    span.price {
        position: absolute;
        right: 35px;
    }
    span.total-heart {
        position: absolute;
        left: 10px;
    }
    div.nombre {
        margin-right: 2px;
    }
    .total-likes.path {
        width: 20px;
        position: absolute;
        left: 70%;
        top: 2px
    }
}  